<h1>Home#index</h1>
<!-- This is about blueberry -->
<p>Find blueberry modifying home page me in app/views/home/index.html.erb</p>

<!-- Heading -->
<h1>H1 Element</h1>
<h2>H2 Element</h2>
<h3>H3 Element</h3>
<h4>H4 Element</h4>
<h5>H5 Element</h5>
<h6>H6 Element</h6>

<!-- Paragraph -->

Lorem ipsum dolor sit amet, duo at brute consulatu dissentiet, sapientem consulatu te est. In dicant malorum reprimique est. Id eam agam dolorem, eam ea timeam placerat, magna tibique detraxit te ius. His instructior necessitatibus ad. Id ubique ponderum eum, eu quo illum impedit, nam et summo nulla officiis. Quo habemus oporteat an.
<p>Ludus commodo diceret per ad, qui ne vide ubique. Minimum mnesarchum instructior ut eam, ut sit sint delectus lobortis. Eos te epicurei consulatu pertinacia. Ne mel nullam repudiare, ad pro audire noluisse, vel an invidunt interesset. Cu quas saepe melius sed. Ad nam melius epicurei.</p>
